autopep8         
black             
cfgv              
click             
distlib           
filelock          
flake8            
identify          
mccabe            
mypy              
mypy-extensions   
nodeenv           
numpy             
packaging        
pandas           
pathspec         
pip              
platformdirs      
pre-commit       
pyarrow          
pycodestyle      
pyflakes        
pylance          
pymssql          
pyodbc           
PySide2           
python-dateutil   
pytz             
PyYAML            
setuptools        
shiboken2         
six               
tomli             
typing_extensions 
tzdata            
virtualenv        
