*bandit==1.7.9
black==24.8.0
cfgv==3.4.0
click==8.1.7
distlib==0.3.8
filelock==3.15.4
flake8==7.1.1
greenlet==3.0.3
identify==2.6.0
isort==5.13.2
jedi==0.19.1
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
msgpack==1.0.8
mypy-extensions==1.0.0
nodeenv==1.9.1
packaging==24.1
parso==0.8.4
pathspec==0.12.1
pbr==6.1.0
platformdirs==4.2.2
pre-commit==3.8.0
pycodestyle==2.12.1
pyflakes==3.2.0
Pygments==2.18.0
pynvim==0.5.0
pyright==1.1.378
PyYAML==6.0.2
rich==13.8.0
stevedore==5.3.0
virtualenv==20.26.3
